@model CarBase.Models.vehicle

@section Scripts {
    <script type="text/javascript">
        function populateEngines() {
            $.ajax({
                url: "/Cars/PopulateEngines",
                type: "GET",
                success: function (response) { 
                    response["$values"].forEach(function (element) {
                        console.log(element.type + " " + element.size)
                        //$("#enginesSelect").append("<option>" + element.type + " " + element.size + "</option>");
                        var id = element.engineID;
                        $("#enginesSelect").append("<option value ='"+ id +"'>" + element.type + " " + element.size + "</option>");
                    });
                },
                error: function () {
                    $("#enginesSelect").empty();
                }
            });
        }

          function populateMakes() {
            $.ajax({
                url: "/Cars/PopulateMakes",
                type: "GET",
                success: function (response) {
                    response["$values"].forEach(function (element) {
                        var id = element.makeID;
                        $("#makeSelect").append("<option value = '"+ id +"'>" + element.name + "</option>");
                    });
                },
                error: function () {
                    $("#makeSelect").empty();
                }
            });
        }

          function PopulateTypes() {
            $.ajax({
                url: "/Cars/PopulateTypes",
                type: "GET",
                success: function (response) { 
                    response["$values"].forEach(function (element) {
                        @* $("#typeSelect").append("<option>" + element.name  + "</option>"); *@
                        var id = element.typeID;
                        $("#typeSelect").append("<option value = '" + id + "''>" + element.name  + "</option>");
                    });
                },
                error: function () {
                    $("#typeSelect").empty();
                }
            });
        }
@* 
        $("#locationTypeSelect").on('change', populateEngines);
        $("#makesTypeSelect").on('change', populateMakes); *@
        populateEngines();
        populateMakes();
        PopulateTypes();
    </script>
}
@{
    ViewData["Title"] = "CarEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CarManage.css">
<div class="banner">
    <div class="content">
        <h1>CarEdit</h1>

        <h4>vehicle</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CarEdit">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="vehicleID" />
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label> <br>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="year" class="control-label"></label> <br>
                        <input asp-for="year" class="form-control" />
                        <span asp-validation-for="year" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="horsepower" class="control-label"></label> <br>
                        <input asp-for="horsepower" class="form-control" />
                        <span asp-validation-for="horsepower" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="rent_status" class="control-label"></label> <br>
                        <input asp-for="rent_status" class="form-control" />
                        <span asp-validation-for="rent_status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="img_url" class="control-label"></label> <br>
                        <input asp-for="img_url" class="form-control" />
                        <span asp-validation-for="img_url" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="makeID" class="control-label"></label> <br>
                        <select id="makeSelect" asp-for="makeID" class="form-control" asp-items="ViewBag.makeID"></select>
                        <span asp-validation-for="makeID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="typeID" class="control-label"></label> <br>
                        <select id="typeSelect" asp-for="typeID" class="form-control" asp-items="ViewBag.typeID"></select>
                        <span asp-validation-for="typeID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="engineID" class="control-label"></label> <br>
                        <select id= "enginesSelect" asp-for="engineID" class="form-control" asp-items="ViewBag.engineID"></select>
                        <span asp-validation-for="engineID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a class="back" asp-action="Cars">Back to List</a>
        </div>
    </div>
</div>
