@model CarBase.Models.vehicle

@{
    ViewData["Title"] = "CarsManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/css/CarManage.css">
<div class="banner">
    <div class="content">
        <h1>CarsManage</h1>

        <h4>vehicle</h4>
        <hr />
        <div class="row">
            <div class="col-md-4">
                <form asp-action="CarsManage">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Model" class="control-label"></label>
                        <input asp-for="Model" class="form-control" />
                        <span asp-validation-for="Model" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="year" class="control-label"></label>
                        <input asp-for="year" class="form-control" />
                        <span asp-validation-for="year" class="text-danger"></span>
                    </div>
                         <div class="form-group">
                        <label asp-for="makeID" class="control-label"></label>
                        <select asp-for="makeID" class ="form-control" asp-items="ViewBag.makeID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="typeID" class="control-label"></label>
                        <select asp-for="typeID" class ="form-control" asp-items="ViewBag.typeID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="engineID" class="control-label"></label>
                        <select asp-for="engineID" class ="form-control" asp-items="ViewBag.engineID"></select>
                    </div>
                    <div class="form-group">
                        <label asp-for="horsepower" class="control-label"></label>
                        <input asp-for="horsepower" class="form-control" />
                        <span asp-validation-for="horsepower" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="rent_status" class="control-label"></label>
                        <input asp-for="rent_status" class="form-control" />
                        <span asp-validation-for="rent_status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="img_url" class="control-label"></label>
                        <input asp-for="img_url" class="form-control" />
                        <span asp-validation-for="img_url" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </form>
            </div>
        </div>

        <div>
            <a asp-action="Cars">Back to List</a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
