* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}


.banner {
    background: rgb(224, 111, 111);
    padding: 100px 100px 100px;
    min-height: 100vh;
    display: flex;
    width: 100%;
    background: url("../resources/images/banner-image2.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    justify-content: center;
    align-items: center;
}


.content{
    float:left;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    padding:2%;
    border-radius: 1rem;
    color:white;
}

.back{
    color: white;
}

.btn{
    width: 100%;
}